*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--background-primary-color);
     --background-primary-color: #f4f6f9;
}

:root{
    --text-color: #6b7280;
    --background-primary-color: #f4f6f9;
    --icons-color: #2152ff;
    --background-sections: white;
}

.app {
  min-height: 100vh;
  background-color: var(--background-primary-color);
  color: var(--text-color);
}

.dark {
  background-color: #111827;
  color: var(--background-primary-color);
}

#layout{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 3.13rem;
  min-height: 80vh;
  border-radius: 1.25rem;
}


/*======================
---RESPONSIVE---
=======================*/
/*Tablette*/
@media (max-width: 1023px) {
  
}

/*Mobile*/
@media (max-width: 767px) {
#layout{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;

}
@media (max-width: 766px) {
  #layout{ 
    margin: 1rem;
  }
}
}
