
.settings-container{
   min-height: 80vh;
   width: 80%;
   flex: 2;
   margin-left: 30px;
   position: relative;
}

.settings-title{
    width: 80%;
    position: relative;
    top: 20px;
    margin: 30px 0;
}

hr{
    margin: 20px 0;
    background: #f9f9f9;
}

.settings-profile,
.settings-organization,
.settings-data{
    width: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    position: relative;
    left: 10%;
}
.profile,
.organization,
.data{
    padding-top: 20px;
    padding-bottom: 10px;
}
input,
select{
    border: 1px solid #333;
}
.name,
.email{
    margin-right:120px;
}
.currency{
    margin-right: 100px;
}
.company{
    margin-right: 50px;
}
.psw{
    margin-right: 30px;
}
.btn-save{
    padding: 7px 25px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    background-color: #2152ff;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    left: 65%;
}
.btn-save:hover{
    background-color: #1a44d6;
    transform: translateY(-5%);
}

.danger{
    color: #f44336;
}

.export,
.dowload{
    padding: 7px 25px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}
.export:hover,
.dowload:hover{
    transform: translateY(-5%);
}

/*dark*/
.dark .settings-profile,
.dark .settings-organization,
.dark .settings-data{
    background-color: #1f2937;
}