/*=============================
--SIDEBAR--
=============================*/

.sidebar{
  position: sticky;
  background-color: #ffffff;
  padding: 20px 60px 20px 30px;
  margin: 0px 25px;
  border-radius: 20px;
  height: 95vh;
  width: 230px;
  transition: width 0.3s ease;
}

/* collapsed state */
.sidebar.collapsed{
  width: 80px;
}

.sidebar.collapsed .link{
  display: none;
}

.sidebar.collapsed .sidebar-element{
  justify-content: center;
}


/* rotate icon */

.toggle-icon{
  transition: transform 0.35s cubic-bezier(.4,0,.2,1);
}

.toggle-icon.rotated{
  transform: rotate(180deg);
}

/* sidebar elements */

.sidebar-element{
  display:flex;
  align-items:center;
  gap:10px;
  padding:10px 15px;
  text-decoration:none;
  color:black;
  margin:10px 0;
  transition: background-color 0.2s ease;
}

/* hover + active */

.sidebar-element:hover,
.sidebar-element.active{
  background-color:#f4f6f9;
   border-radius:5px;
}

/* sidebar container */

.sidebar-container{
  display:flex;
  flex-direction:column; 
  justify-content:space-between;
  gap:50px;
}
.sidebar-element svg{
  flex-shrink:0;
}

/* link text */
.link{
  padding-left: 5px;
  text-decoration:none;
  white-space:nowrap;
  
}

/*=============================
--DARK MODE--
=============================*/

.dark .sidebar{  
  background-color:#1f2937;
}

.dark .sidebar-element{
  color:white;
}

.dark .sidebar-element.active,
.dark .sidebar-element:hover{
  background-color:#374151;
  color:white;
}

/*======================
---RESPONSIVE---
======================*/
/*laptop*/
@media (min-width: 1024px){
  .sidebar {
  width: 240px;
  transition: all 0.3s;
}

.sidebar.collapsed {
  width: 70px;
}

}

/* Tablet */
@media (max-width:1023px){

}

/* Mobile */
@media (max-width:767px){
  .sidebar{
  position: fixed;
  left:0;
  top:80px;
  height:80vh;
  border: 2px solid #2152ff;
  z-index: 1;

  transform: translateX(-150%);
}

.sidebar.open{
  transform: translateX(0);
}
.toggle-icon{
  display:none;
}
}

